@media screen and ( max-width: 1024px )
{
  img {
    width: 390px;
}
}
    @media screen and ( min-width:1025px ) and ( max-width: 1280px )
{
      img {
width: 1060px;
 }
}
      @media screen and ( min-width: 1081px )
{
        img {
width: 1200px;
 }
 }
        img {
 height: auto;
}

body{
	background-color: red;
}
@media (min-width:700px){
	body{
		background-color: green;
	}

}
@media(max-width: 480px){
	body{
background-color: purple;
	}
}
@media(min-width: 1024px){
	body{
		background-color: pink;
	}
}
